extends layout

block content
  #wrapper
    #logo
      img(src='/images/logo.png')
    #display
      include userbar

      -for (var id in blogs)
        -var blog = blogs[id]
        div
          a(href='/blog/#{id}') #{blog.title}

    include footer