extends layout

block content
  #wrapper
    #logo
      img(src='/images/logo.png')
    #display
      include userbar

      h2 #{title.toUpperCase()}
      #content
        P #{content}

     #footer
     include footer