body
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #0069FF
 
#wrapper
  width: 450px
  margin: 0 auto
  padding: 40px 20px
  background: #fff

#logo
  text-align: center

#display
  margin: 20px 0 50px

#display h1
  padding: 0 0 30px

#display h2
  text-align: center

#userbar
  margin-bottom: 10px
  text-align: right

#slogan
  color: #26B8D6

label
  display: inline-block
  margin-right: 16px
  width: 60px
  line-height: 30px
  text-align: right

#login-form .item
  margin: 16px 0px
  
.item input
  width: 200px
  height: 18px
  font-size: 16px
  padding: .5em
  border-radius: 3px
  border: 2px solid #26B8D6
     

.submit-btn input
  width: 110px
  margin: 16px 16px 16px 0px
  padding: .5em
  font-size: 16px
  color: white
  background-color: #26B8D6
  border-radius: 3px
  border: 2px solid #ffffff

article.content
  font-size: 16px
  line-height: 24px

li
  padding: .2em

li.listing-item
  list-style-type: none


.listing a
  text-decoration: none

#content
  background-color: #E6F1F6 